@page
@model IndexModel
@{
    ViewData["Title"] = "Home page - Version 1";
}
<div class="text-center">
    <h1 class="display-4">Welcome To Learning Web Applications Version 1 in Staging Env</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
